.dock{
    background: #1d1e18;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    position: sticky;
    width: auto;
    z-index: 1;
}

.dock-link{
    column-gap: 8px;
    display: flex;
    flex-direction: row;
}