:root{
    --cdarkgray: #131313;
    --cyellow: #F5B010;
    --clightgray: #333333;
}

.calculator{
    display: flex;
    flex-direction: column;
    background-color: var(--cdarkgray);
    width: min-content;
    padding: 1em;
    border-radius: 5%;
    margin: auto;
}

.calculator input{
    text-align: right;
    border: none;
    height: 2.5em;
    color: #ffffff;
    background-color: var(--cdarkgray);
    font-size: large;
    width: 9em;
}

.calculator button{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: none;
    margin: 1px;
}

.calculator button:hover{
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
}

.darkgray{
    background-color: var(--clightgray);
    color: #ffffff;
}

.yellow{
    background-color: var(--cyellow);
    color: #ffffff;
}