.home{
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    row-gap: 1em;
}

.profile_cover{
    height: 360px;
}

.profile_cover > img{
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    width: 100%;
}

.profile_description{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: white;
    font-size: 1.25em;
    height: 100%;
    padding: 2em;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
}

.profile_data{
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
}

.profile_data_key{
    font-weight: bold;
}

.profile_data_value{
    font-size: 0.8em;
    text-align: justify;
}


@media (min-width: 0px) {
    .home{
        width: auto;
    }

    .profile_cover > img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .profile_description{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media (min-width: 600px) {
    .home{
        width: auto;
    }

    .profile_cover > img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .profile_description{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media (min-width: 900px) {
    .home{
        width: 600px;
    }

    .profile_cover > img{
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    .profile_description{
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}

@media (min-width: 1130px) {
    .home {
        width: 800px;
    }

    .profile_cover > img {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    .profile_description {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}

@media (min-width: 1400px) {
    .home {
        width: 1088px;
    }

    .profile_cover > img {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    .profile_description {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}